body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
}

header {
    background-color: #333;
    color: white;
    padding: 1em;
    text-align: center;
background-image: url('wifi-h.jpg');
    background-size: cover; /* This property ensures that the background image covers the entire body */
    background-position: center;
    background-repeat: no-repeat;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: white;
}

section {
    padding: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
background-image: url('wifi-h.jpg');
    background-size: cover; /* This property ensures that the background image covers the entire body */
    background-position: center;
    background-repeat: no-repeat;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}
